//変数
//データ（数値、文字列、真偽、色、リスト）
// +-*/
// lighten darken
//  ループ
//設定ファイルと関数を別ファイル化
@import "setting";
@import "functions";

// mixin
@mixin round($radius){
    border-radius: $radius;
}

.label{
    font-size: 12px;
    @include round(5px);
}

// extend
.msg{
    font-size: 12px;
    font-weight: bold;
    padding: 2px 4px;
    color: white;
}
.errorMsg{
    @extend .msg;
    background: red;
}
.warningMsg{
    @extend .msg;
    background: yellow;
}


$baseFontSize:  13px;
$imgDir: "../img/";
$brandColor: rgba(255,0,0,.9);
$debugMode: false;

@for $i from 10 through 14{
    .fs#{$i}{ font-size: #{$i}px;}
}; 

//リスト
$animals: cat,dog,tiger;
@each $animal in $animals {
    .#{$animal}-icon {background-image: url(#{$animal}.png)};
}

#main{
    width: 90%;
    p{
        @if $debugMode == true {
            color: red;
        }@else{
            color: green;
        }
        font-size: $baseFontSize;
        background-image: url("#{$imgDir}image.jpg");
        background-color: $brandColor;
        a {
            text-decoration: none;
            //background-color: lighten($brandColor,30%);
            background-color: darken($brandColor,30%);
            &:hover{
                font-weight: bold;
            }
        }
        .sub{
            font-size: $baseFontSize - 2;
        }
    }
}
// コメント（反映されない）
/*  コメント（反映される）  */

.grid{
    float: left;
    width: getColumnWidth($totalWidth,$columnCount);
}